@{
                Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@model IEnumerable<Courses_Center.ViewModels.BuyingCartDto>

 <div class="slider-area ">
    <!-- Mobile Menu -->
    <div class="single-slider slider-height2 d-flex align-items-center" data-background="">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>سلة المشتريات</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- slider Area End-->

  <!--================Cart Area =================-->
@if (Model != null)
{

    <section class="cart_area ">
        <div class="container">
      <div class="cart_inner">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    
                
              <tr>
                <td>
                  <div class="media">
                    <div class="d-flex">
                      <img src="assets/img/arrivel/arrivel_1.png" alt="" />
                    </div>
                    <div class="media-body">
                      <p>@item.Title</p>
                    </div>
                  </div>
                </td>
                <td>
                  <h5>$@item.Price</h5>
                </td>
                <td>
                  <div class="product_count">
                    <!-- <input type="text" value="1" min="0" max="10" title="Quantity:"
                      class="input-text qty input-number" />
                    <button
                      class="increase input-number-increment items-count" type="button">
                      <i class="ti-angle-up"></i>
                    </button>
                    <button
                      class="reduced input-number-decrement items-count" type="button">
                      <i class="ti-angle-down"></i>
                    </button> -->
                    <span  class="input-number-decrement"> <i onclick="minus(@item.Id,@item.Price,@item.CartId)"   class="ti-minus"></i></span>
                    <input asp-for="@item.Count" id="v'@item.Id'"  class="input-number" type="text" value="@item.Count" min="0" max="1000">
                    <span class="input-number-increment"> <i onclick="changetotal(@item.Id,@item.Price,@item.CartId)"  class="ti-plus"></i></span>
                  </div>
                </td>
                <td>
                  <h5 id="@item.Id">@item.Total</h5>
                </td>
              </tr>
             }
              <tr class="bottom_button">
                <td>
                  <a  class="btn_1" asp-action="" asp-controller="BuyingCart">Update Cart</a>
                </td>
                <td></td>
                <td></td>
                <td>
                  <div class="cupon_text float-right">
                    <a class="btn_1" href="#">Close Coupon</a>
                  </div>
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>
                  <h5>Subtotal</h5>
                </td>
                <td>
                  <h5 id="total">@ViewBag.total</h5>
                </td>
              </tr>
             
            </tbody>
          </table>
          <div class="checkout_btn_inner float-right">
            <a class="btn_1" href="#">Continue Shopping</a>
            <a class="btn_1 checkout_btn_1" href="#">Proceed to checkout</a>
          </div>
        </div>
      </div>
  </section>
  }
  <!--================End Cart Area =================-->
  @section Scripts{
      <script>
          function changetotal(v1,v2,v3){
               let s2 = 'v'+"'" + v1+"'";
         console.log(document.getElementById(s2).value)
              let ii = parseInt(document.getElementById(v1).innerHTML) +v2;
    document.getElementById(v1).innerHTML = ii;
              let t = parseFloat(document.getElementById("total").innerHTML) + v2 ;
              console.log(t)
     document.getElementById("total").innerHTML=t
   $.ajax({
        url: "/BuyingCart/UpdateCount",
       
        type: 'POST',
        data: {Id:v3,Price:v2,Count:parseInt(document.getElementById(s2).value)+1 },// {courses:$("#courses").val(), instructor:$("#instructor").val(), department:$("#department").val(), colleges:$("#colleges").val(), unversity:$("#unversity").val(), Source_Type:$("#Source_Type").val()},             
             success:function(result){
                 console.log(result);
               
             }
          
});
          }
          function minus(v1,v2,v3){
              let s2 = 'v'+"'" + v1+"'";
         console.log(document.getElementById(s2).value)
          let ii = parseInt(document.getElementById(v1).innerHTML) -v2;
    document.getElementById(v1).innerHTML = ii;
     let t = parseFloat(document.getElementById("total").innerHTML) - v2 ;
              console.log(t)
     document.getElementById("total").innerHTML=t
       $.ajax({
        url: "/BuyingCart/UpdateCount",
       
        type: 'POST',
        data: {Id:v3,Price:v2,Count:parseInt(document.getElementById(s2).value)-1 },// {courses:$("#courses").val(), instructor:$("#instructor").val(), department:$("#department").val(), colleges:$("#colleges").val(), unversity:$("#unversity").val(), Source_Type:$("#Source_Type").val()},             
             success:function(result){
                 console.log(result);
               
             }
          
});
          }
      </script>
  }