@model IEnumerable<Professor>


    @if (Model != null)
    {

            <section class="section " style="margin:50px ;">

        <div class=" p-3 rounded-3" style="background: #fff; border: 1px solid transparent; box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);">
            <section>
        <table class="table table-striped">
            <thead>
                <tr>

                    <th scope="col">كود المحاضر</th>
                    <th scope="col">اسم المحاضر</th>

                    <th></th>

                </tr>
            </thead>
            <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td> @item.Id </td>
                            <td> @item.Name </td>
                            <td>

                                    <a asp-action="Delete" asp-controller="Professor" asp-route-Id="@item.Id" onclick="return confirm('هل انت متاكد من حذف @item.Name ')">
                                    <i class='bx bx-x' style="cursor: pointer;"></i>

                                </a>
                                    <a asp-action="Edite" asp-controller="Professor" asp-route-Id="@item.Id">

                                <i class='bx bx-edit-alt' style="cursor: pointer;"></i>

                                    </a>


                            </td>

                        </tr>
                    }

            </tbody>
        </table>
    </section>
        </div>
            </section>


}
