@model IEnumerable<College>

@if (Model != null)
{

    <div class=" p-3 rounded-3"
     style="background: #fff; border: 1px solid transparent; box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);">

        <section>
            <table class="table table-striped">

                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th></th>
                    </tr>

                </thead>

                <tbody>
                    @if(Model.Count()>0){
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-controller="Collage" asp-route-id="@item.Id">
                                    <i class='bx bx-edit-alt' style="cursor: pointer;"></i>
                                </a>

                                <a asp-action="Delete" asp-controller="Collage" asp-route-id="@item.Id" onclick="return confirm('هل انت متأكد من حذف @item.Name')">
                                    <i class='bx bx-x' style="cursor: pointer;"></i>
                                </a>
                            </td>
                        </tr>
                    }
                    }
                    else{
                        <tr>
                            <td>
                        <section>
                            <p class="text-info h2 text-center">
                                لا توجد اى اقسام
                            </p>
                        </section>
                            </td>
                            <td></td>
                        </tr>
                    }

                </tbody>
            </table>
        </section>
    </div>
}
